#chat_background {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(231,231,231,1) 63%, rgba(193,193,193,1) 100%);
}

#day_info_show {
    background: rgba(21, 21, 21, 0.5);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#usr_message {
    background: #1f1f1f;
    color: #e1e1e1; 
    border-radius: 12px;
}

#message {
    color: #e1e1e1;
    background: #3a3939;
    border-radius: 12px;
}

#attach_entry {
    box-shadow: none;
    background: #1f1f1f;
    border: 1px solid #e1e1e1;
    color:#e1e1e1;
    border-radius: 8px;
    transition: all .2s;
}
#attach_entry:hover {
    border: 2px solid #e1e1e1;
    border-radius: 12px;
}

#more_box {
    background-color: #e1e1e1;
    border: 1px solid #1f1f1f;
    border-radius: 15px;
}

#stickers_eventbox {
    background-image: url("../img/happy.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #e1e1e1;
    transition: all ease-in-out .3s;
}
#stickers_eventbox:checked {
    background-image: url("../img/happy-selected.png");
    border-bottom: 1px solid #416ef2;
    transition: all ease-in-out .3s;
}

#gifs_eventbox {
    background-image: url("../img/gif.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #e1e1e1;
    transition: all ease-in-out .3s;
}
#gifs_eventbox:checked {
    background-image: url("../img/gif-selected.png");
    border-bottom: 1px solid #416ef2;
    transition: all ease-in-out .3s;
}