
#chat_background {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(231,231,231,1) 63%, rgba(193,193,193,1) 100%);
}

#usr_message {
    background: #A6A5A5;
    color: #1f1f1f;    
    border-radius: 12px;
}

#message {
    background: #A6A5A5;
    color: #1f1f1f;
    border-radius: 12px;
}
